@import "tailwindcss";

/* @plugin "tailwindcss/typography"; */

@custom-varient dark (&:is(.dark *));

@layer base {
    *, ::before, ::after, ::backdrop, ::file-selector-button {
        border-color: var(--color-gray-200, currentColor);
    }   
}

@theme {
    --mat-sys-primary: var(--mat-sys-primary);
    --mat-sys-on-primary: var(--mat-sys-on-primary);
    --mat-sys-primary-container: var(--mat-sys-primary-container);
    --mat-sys-on-primary-container: var(--mat-sys-on-primary-container);
    --mat-sys-secondary: var(--mat-sys-secondary);
    --mat-sys-on-secondary: var(--mat-sys-on-secondary);
    --mat-sys-secondary-container: var(--mat-sys-secondary-container);
    --mat-sys-on-secondary-container: var(--mat-sys-on-secondary-container);
    --mat-sys-tertiary: var(--mat-sys-tertiary);
    --mat-sys-on-tertiary: var(--mat-sys-on-tertiary);
    --mat-sys-tertiary-container: var(--mat-sys-tertiary-container);
    --mat-sys-on-tertiary-container: var(--mat-sys-on-tertiary-container);
    --mat-sys-error: var(--mat-sys-error);
    --mat-sys-error-container: var(--mat-sys-error-container);
    --mat-sys-on-error: var(--mat-sys-on-error);
    --mat-sys-on-error-container: var(--mat-sys-on-error-container);
    --mat-sys-background: var(--mat-sys-background);
    --mat-sys-on-background: var(--mat-sys-on-background);
    --mat-sys-surface: var(--mat-sys-surface);
    --mat-sys-on-surface: var(--mat-sys-on-surface);
    --mat-sys-surface-variant: var(--mat-sys-surface-variant);
    --mat-sys-on-surface-variant: var(--mat-sys-on-surface-variant);
    --mat-sys-outline: var(--mat-sys-outline);
    --mat-sys-outline-variant: var(--mat-sys-outline-variant);
    --mat-sys-inverse-surface: var(--mat-sys-inverse-surface);
    --mat-sys-inverse-on-surface: var(--mat-sys-inverse-on-surface);
    --mat-sys-inverse-primary: var(--mat-sys-inverse-primary);
    --mat-sys-shadow: var(--mat-sys-shadow);
    --mat-sys-surface-tint: var(--mat-sys-surface-tint);
    --mat-sys-scrim: var(--mat-sys-scrim);
    --mat-sys-surface-container-highest: var(--mat-sys-surface-container-highest);
    --mat-sys-surface-container-high: var(--mat-sys-surface-container-high);
    --mat-sys-surface-container: var(--mat-sys-surface-container);
    --mat-sys-surface-container-low: var(--mat-sys-surface-container-low);
    --mat-sys-surface-container-lowest: var(--mat-sys-surface-container-lowest);
    --mat-sys-surface-bright: var(--mat-sys-surface-bright);
    --mat-sys-surface-dim: var(--mat-sys-surface-dim);

    
    --color-gray-50: #f9faf9;
    --color-gray-100: #f3f4f6;
    --color-gray-200: #e5e7eb;
    --color-gray-300: #d1d5db;    
    --color-gray-400: #9ca3af;
    --color-gray-500: #6b7280;
}