@use './app/styles/material.scss';

@use './app/styles/tailwind.css';

@use './app/styles/custom.scss';

@use './app/themes/greentheme.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.cdk-drop-list-dragging {
    border: 2px solid lightgray !important;
    background-color: lightgray !important;
}


//mat-form-field issue with tailwind
.mdc-notched-outline__notch
{
  border-right: none !important;
} 

mat-button-toggle-group {
    border-radius: 4px !important;

}

.mat-button-toggle-appearance-standard.mat-button-toggle-checked {
background-color: #006591 !important;
color: #ffffff !important;
}

::view-transition-old(.field-transition),
::view-transition-new(.field-transition) {
    height: 100%;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #6b7280 #ffffff;
}

/* WebKit-based browsers */
*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

*::-webkit-scrollbar-track {
  background: #63b3ed;
}

*::-webkit-scrollbar-thumb {
  background-color: #63b3ed;
  border-radius: 4px;
  background-clip: content-box;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #6b7280;
}
